name: CI

on: [push, pull_request]

jobs:

  vs2022:
    name: Visual Studio 2022
    runs-on: windows-2022
    steps:
    - uses: actions/checkout@v6

    - name: Setup dotnet
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: |
          8.0.x
          9.0.x

    - name: Build
      run: |
        dotnet build --configuration Release

    - uses: actions/upload-artifact@v5
      with:
          name: FindInFiles-net4.8
          path: 'NET48/bin/Release/'

    - uses: actions/upload-artifact@v5
      with:
          name: FindInFiles-net9.0
          path: 'bin/Release/net9.0-windows/'

    - uses: actions/upload-artifact@v5
      with:
          name: FindInFiles-net8.0
          path: 'bin/Release/net8.0-windows/'
